.players-list {
  min-width: 300px;
  padding: 20px 10px;
  background-color: #1a76d2;
  color: #ffffff;
  border: 2px solid #1a76d2;
}
.round-game {
  color: #1a76d2;
  padding: 20px;
  border: 7px solid #1a76d2;
  border-radius: 25px;
}

.dice {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-80%, -50%);
  position: absolute;
  color: rgb(240, 240, 240);
}
